#dashboard {
	width: 100%;
	top: 10%;
	height: 600px;
	text-align:center;
	position: absolute;
	border-top: 3px solid #cccccc;
	border-bottom: 3px solid #cccccc;
	font-family: Georgia;
}

#game_container {
	width: 800px;
	margin-left: auto;
	margin-right:auto;
	height: 600px;
	text-align:center;
	position: relative;
}

#gameboard_border {
	position: absolute;
	border: 2px solid #834840;
	top: 48px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;

}

#gameboard{
	width: 401px;
	height: 501px; 
	position: relative; 
	background-color: transparent;
	float:left;
}
#reset {
	display: none;
}
#interface {
	top: 200px;
	width: 300px;
	position: absolute;
}
#interface td {
	padding: 5px;
	width: 100px;
	border: 5px solid white;
	
}

#interface th h2{
	border: 1px solid red;
	text-align: center;
}

#panel {
	width: 300px;
	left: 475px;
	height: 600px;
	position: relative;
}

.confirm {
	width: 300px;
	top: 420px;
	text-align: center;
	position: absolute;
	display: none;
	
}

#confHead {
	border-top: 5px solid white;
}

#ok, #cancel {
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-align: center;
	width: 75px;
	background-color: #16161B;
	padding: 3px;
}

#ok:hover, #cancel:hover {
	cursor: pointer;
	background-color: #cccccc;
	}


.myButton {
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	background-color: #16161B;
	padding: 3px;
}

.myButton:hover {
	cursor: pointer;
	background-color: #cccccc;
}




#gameboard * {
	border: 2px solid white;
	float: left;
	border-radius: 7px;
	text-align: center;
	position: absolute;
	cursor: move;
	background-size: auto;
	opacity: 0.95;
}
#goal {
	position: absolute;
	top: 85%;
	width: 100%;
	text-align: center;
	border: none;
	z-index: -1;
	font-size: 50px;
	font-family: "Roboto", Arial;
}

.long_v {
	width: 96px;
	height: 196px;
	box-shadow: inset 0 0 6px black;
	background-color: #5ca4b5;
}

#b1{
	width: 196px;
	height: 196px;
	left: 100px;
	position: relative;
	text-align: left;
	background-color: #AE4638;
	box-shadow: inset 0 0 6px black;
}

.long_h {
	width: 196px;
	height: 96px;
	background-color: #255e6c;
	box-shadow: inset 0 0 6px black;
}

.sm {
	width: 96px;
	height: 96px;
	background-color: #A6D066;
	box-shadow: inset 0 0 6px black;
}

.blank {
	width: 96px;
	height: 96px;
	z-index: -2;
}

#l11 {
	left: 0px;
}
#l21 {
	left: 300px;
}

#l31 {
	top: 200px;
}

#l41 {
	left: 300px;
	top: 200px;
}

#h1 {
	left: 100px;
	top: 200px;
}

#sm1 {
	top: 300px;
	left: 100px;
}

#sm2 {
	top: 300px;
	left: 200px;
}

#sm3 {
	top: 400px;
}

#sm4 {
	width: 96px;
	height: 96px;
	top: 400px;
	left: 300px;
}

#e1 {
	top: 400px;
	left: 100px;
}

#e2 {
	top: 400px;
	left: 200px;
}

















